{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
		<section class="page-section about-heading">
			<div class="container">
				<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="webempresa\core\static\core\img\about.jpg" alt="">
				<div class="about-heading-content">
					<div class="row">
						<div class="col-xl-9 col-lg-10 mx-auto">
							<div class="bg-faded rounded p-5">
								<h2 class="section-heading mb-4">
									<span class="section-heading-upper">Golf para todo el mundo</span>
									<span class="section-heading-lower">Desde 1992</span>
								</h2>
								<p>El Club de Golf La Dehesa se encuentra ubicado en el municipio de Villanueva de La Cañada, en las estribaciones de la Sierra de Guadarrama, a 28 Km. del centro de Madrid. Fue inaugurado en el año 1992 como consecuencia de la colaboración entre el Excmo. Ayuntamiento de Villanueva de la Cañada y la empresa promotora. Se trata de un club privado, gestionado por Interuve, S.A. sobre la base de una concesión administrativa municipal.</p>
								<p>La finca sobre la que se asienta el campo de golf es un terreno cuyo uso anterior era agrícola y cinegético. En alguna parte de la finca se intentaba con mucho esfuerzo cultivar cereales principalmente, pero la pobreza del suelo obligaba a que esa misma zona tuviera que descansar uno o dos años después de cada cosecha. Fue por ese motivo por lo que su uso fue reduciéndose casi exclusivamente a la caza, dedicándose incluso en los últimos años a vertedero municipal.</p>
								<p>Es un campo de 18 hoyos, con par 72 y 6.022 metros de recorrido desde barras amarillas. Su diseño es del prestigioso golfista profesional Manuel Piñero, y se tuvieron en cuenta dos aspectos fundamentales en el momento de su creación: por un lado, que fuese competitivo y, por otro, que mantuviera el equilibrio con el ecosistema.</p>
								<p>En los hoyos de la segunda vuelta, del 10 al 18, se respetó muchísimo la orografía que discurre a lo largo del cauce del río Aulencia. Incluso en el hoyo 13, uno de los más bellos del campo, se mantiene tal y como era el terreno.</p>
								<p>En el año 2004 a fin de mejorar la calidad de las instalaciones y servicios se consigue la certificación, por parte de AENOR, para el Sistema de Gestión de la Calidad según norma UNE-EN-ISO 9001:2015 implantado en la empresa, siendo de esta forma el primer campo de golf de la Comunidad de Madrid en conseguir dicho certificado.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
