{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
	<!-- Cabecera -->
	<section class="page-section clearfix">
		<div class="container">
			<div class="intro">
				<img class="intro-img img-fluid mb-3 mb-lg-0 rounded"src="{% static 'core\img\golfista.jpg' %}" alt="">
				<div class="intro-text left-0 text-center bg-faded p-5 rounded">
					<h2 class="section-heading mb-4">
						<span class="section-heading-upper">La Dehesa</span>
						<span class="section-heading-lower">Club Familiar</span>
					</h2>
					<p class="mb-3">Desde su inicio, el Club de Golf La Dehesa nace con la vocación de ocio y deporte para toda la familia, el golf es sin duda el deporte rey en nuestro club, pero también somos un centro de ocio donde cada miembro de su familia podrá disfrutar de su actividad preferida pues disponemos de una estructura profesional dedicada fundamentalmente a satisfacer al socio y su entorno.
					</p>
					<p class="mb-0">Nuestra zona deportiva cuenta con un completo gimnasio, pistas de squash, saunas, ludoteca y naturalmente el Club Juvenil. Las pistas de tenis, paddle, campamentos de verano y piscinas, completan una amplia oferta para todas las edades.
					</p>
					<div class="intro-button mx-auto">
						<a class="btn btn-primary btn-xl" href="store">Visítanos</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Mensaje -->
	<section class="page-section cta">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<div class="cta-inner text-center rounded">
						<h2 class="section-heading mb-4">
							<span class="section-heading-upper">Hacerse socio</span>
							<span class="section-heading-lower">Descubre nuestro club</span>
						</h2>
						<p class="mb-0">Para hacerse socio del Club de Golf La Dehesa es necesario adquirir un derecho de entrada.
							El derecho engloba a la persona que lo adquiere y a su familia (hijos menores de 30 años).
						</p>
						<p class="mb-0">Si el derecho lo adquiere una persona jurídica, la persona firmante del contrato puede designar un número máximo de dos usuarios englobados dentro del derecho.
						</p>
						<p class="mb-0">También existe la modalidad de hacerte socio de manera individual por un año como partícipe usuario temporal.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
