body {
  font-family: 'Lora';
  background: linear-gradient(rgba(176, 255, 176, 0.65), rgba(176, 255, 176, 0.65)), url("../img/Golfcampo.jpg?v=2");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
  color: #228B22; /* Verde brillante */
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
  color: #32CD32; /* Verde más claro */
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
  color: #ffffff; /* Blanco */
}

#mainNav {
  background-color: rgba(34, 139, 34, 0.9); /* Verde bosque */
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #ADFF2F; /* Verde lima claro */
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #32CD32; /* Verde claro */
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(50, 63, 40, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85); /* Blanco semitransparente */
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
}

.text-primary {
  color: #32CD32 !important; /* Verde claro */
}

.bg-primary {
  background-color: #32CD32 !important; /* Verde claro */
}

.btn-primary {
  background-color: #228B22; /* Verde bosque */
  border-color: #228B22;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #32CD32; /* Verde claro */
  border-color: #32CD32;
}

a.link {
  color: #228B22; /* Verde bosque */
}

a.link:hover {
  text-decoration: none;
  color: #32CD32 !important; /* Verde claro */
}

.section-content{
  font-family: 'Lora' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}